[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astroid = "==2.0.4"
"autopep8" = "==1.3.5"
certifi = "==2018.4.16"
isort = "==4.3.4"
lazy-object-proxy = "==1.3.1"
mccabe = "==0.6.1"
pycodestyle = "==2.4.0"
pylint = "==2.1.1"
pytz = "==2018.5"
six = "==1.11.0"
wrapt = "==1.10.11"
Django = "==2.1"

[dev-packages]

[requires]
python_version = "3.6"
